<div class="card" style="width: 18rem;">
  <img
    class="card-img-top"
    src="/images/{{{teamToShow.crestUrl}}}"
    alt="Card image cap"
  />
  <ul class="list-group list-group-flush">
    <li class="list-group-item">ID: {{{teamToShow.id}}}</li>
    <li class="list-group-item">Name: {{{teamToShow.name}}}</li>
    <li class="list-group-item">Address: {{{teamToShow.address}}}</li>
    <li class="list-group-item">Phone: {{{teamToShow.phone}}}</li>
    <li class="list-group-item">Website: {{{teamToShow.website}}}</li>
    <li class="list-group-item">Founded: {{{teamToShow.founded}}}</li>
    <li class="list-group-item">Venue: {{{teamToShow.venue}}}</li>
  </ul>
</div>